<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>department</servlet-name>
        <servlet-class>com.bionic.iakovenko.department.servlet.DepartmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>department</servlet-name>
        <url-pattern>/department</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1
        </session-timeout>
    </session-config>
    
    <filter>
        <filter-name>fieldEncodingFormatFilter</filter-name>
        <filter-class>com.bionic.iakovenko.department.filters.FieldEncodingFormatFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>fieldEncodingFormatFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>aliveSessionFilter</filter-name>
        <filter-class>com.bionic.iakovenko.department.filters.AliveSessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>aliveSessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>localeFilter</filter-name>
        <filter-class>com.bionic.iakovenko.department.filters.LocaleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>localeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
       
    <filter>
        <filter-name>fieldNumberFormat</filter-name>
        <filter-class>com.bionic.iakovenko.department.filters.FieldNumberFormatFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>fieldNumberFormat</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
       
    <welcome-file-list>
        <welcome-file>index.jspx</welcome-file>
    </welcome-file-list>
    
</web-app>
